html{
  font-family: 'Vollkorn', sans-serif; 
  font-size: 14px;
  /* background:#887C79; */
  background: black;
  width: 80vw; 
  margin: 0 auto; 
}

.include{
  display: block;
  margin: 30px auto;
  text-align: center; 
  font-size:2rem;
}

.include > span {display: inline; color: crimson;} 
.include > img {display: block; margin-left: auto; margin-right: auto;}
.include > span:hover, .include > a:hover{color: lightblue;}

.clear{clear:both;}

a{ color: crimson;
  text-decoration:none;
}

nav > a{
  padding: 3px 3px 3px 3px;
  margin-left: 3px;
  margin-right: 3px;
  text-decoration:none;
}

a > img:hover{
  transform: scale(1.3);
  margin: 5px 5px 5px 5px;
}

body {
 border-top: solid 3px;
 border-bottom: solid 3px;
 margin: 0 auto;
 margin-top: 10px;
 padding-bottom: 10px;
 color: white;
}

li > span {
 color: white;
 font-size: 1.7rem;
}

#wrapper > span{
 padding-top: 20px;
 padding-bottom: 20px;
 margin-right: 20px;
 display:block;
}

#wrapper > p { margin: 5px 5px 5px 5px; }
figure {text-align: center;}
#contact{display:inline; text-align: left; margin:0 0; font-size:2rem;}

@media only screen and (min-width:779px){
  #wrapper{display:flex; flex-direction: row; justify-content: space-between; align-items: center; }
  h1, h2, h3, h4, h5, h6 { color: crimson; }
}
@media only screen and (max-width:1180px){ 
  #wrapper{display: flex; flex-direction: column; justify-content: space-around; align-items: center;}
  .include, #contact{ font-size: 1.2rem;}
  h1, h2, h3, h4, h5, h6 { text-align: center; color: crimson; }
}

label {font-size: 1.2rem;}

/* BLOG STYLES */

a {color: crimson; }
a:hover {color: lightblue; }
small > a {color: white;}
.entry {
	border-left: 10px solid white;
	padding: 0px 10px 0px 10px;
	border-radius: 0 30px 30px 0;
	margin-bottom: 20px;
	color: white; 
	}

.entry h2 { margin: 5px auto 2px auto; }